
body{
    background-color: rgb(162, 162, 255);
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    width: 500px;
    margin: auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.43);
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}

#button{
    cursor: pointer;
}